﻿/*Created with Adobe RoboHelp 11.*/
h1 {
	font-weight: bold;
	margin-right: 0pt;
	page-break-after: avoid;
	margin-left: 0pt;
	font-family: Arial;
	margin-top: 14pt;
	margin-bottom: 0pt;
	font-size: 17pt;
	x-next-class: Body;
	x-next-type: p;
	color: #000000;
}
h2 {
	margin-bottom: 14pt;
	margin-right: 0pt;
	page-break-after: avoid;
	font-weight: bold;
	font-size: 14pt;
	x-next-class: ;
	x-next-type: td;
	font-family: Arial;
	margin-left: 0pt;
	margin-top: 14pt;
	color: #000000;
}
H3 {
	font-size: 12pt;
	font-family: Arial;
	x-next-class: Body2;
	x-next-type: p;
	margin-left: 0pt;
	margin-top: 14pt;
	color: #000000;
}
p.Body {
	margin-bottom: 14pt;
	margin: 8px 0px 0px;
	color: rgb(51, 51, 51);
	font-variant: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-height: normal;
	orphans: auto;
	text-align: start;
	text-indent: 0px;
	text-transform: none;
	white-space: normal;
	widows: auto;
	word-spacing: 0px;
	-webkit-text-stroke-width: 0px;
	font-family: Verdana;
	margin-top: 14pt;
	font-size: 10pt;
	x-next-class: Body;
	x-next-type: p;
}
p.Body1 {
	margin-top: 0pt;
	font-family: Verdana;
	margin-left: 20pt;
	font-size: 10pt;
}

table.TopRow {
	x-1st-row: 1;
	x-1st-row-name: t1st;
	font-size: 9pt;
	background-color: #ffffff;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-border-spacing: 0px;
	text-align: Left;
	x-row-pat-1: 1;
	x-row-pat-1-name: t1Row;
	x-row-pat-count: 2;
	x-row-pat-2: 1;
	x-row-pat-2-name: t2Row;
	x-border-spacing: 0px;
	margin-top: 5pt;
	margin-bottom: 12pt;
	margin-left: 25px;
	font-family: "Trebuchet MS";
	border-collapse: collapse;
}
table.TopRow td{
 border: solid 1px black;
}

table.TopRow tr{
	border: none;
}
table.TopRow tr.t1st td {
	background-color: #c0c0c0;
	font-weight: bold;
	text-align: Center;
	font-family: "Trebuchet MS";
	font-size: 9pt;
	/*border-left-style: Solid;
	border-left-width: 0.5px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 0.5px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 0.5px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;*/
}
table.TopRow tr.t1Row td {
	font-family: "Trebuchet MS";
	font-size: 9pt;
	/*border-left-style: Solid;
	border-left-width: 1px "border-left-color:" #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;*/
}
table.TopRow tr.t2Row td {
	font-family: "Trebuchet MS";
	font-size: 9pt;
	/*border-left-style: Solid;
	border-left-width: 1px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 1px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #000000;*/
}
table.TopRow td {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 3px;
}

rh-list.rl-p-Numlist1 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: decimal;
}
rh-list.rl-p-Bulletlist1 {
	x-level-count: 1;
	x-lvl-1-format: "<x>.";
	x-lvl-1-type: filled-square;
}
p.Proclead {
	font-weight: bold;
	margin-left: 20pt;
	font-family: Verdana;
	margin-top: 10pt;
	margin-bottom: 10pt;
	font-size: 10.5pt;
}
a:link {
	color: #006699;
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: none;
}
a:visited {
	color: #006699;
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: none;
}
a:hover {
	color: #808080;
	text-decoration: none;
}
a:active {
	color: #006699;
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: none;
}
h1>a:hover {
	font-weight: bold;
	margin-right: 0pt;
	page-break-after: avoid;
	margin-left: 0pt;
	font-family: Arial;
	margin-top: 14pt;
	margin-bottom: 0pt;
	font-size: 17pt;
	x-next-class: Body;
	x-next-type: p;
	color: #000000;
	text-decoration: none;
}
p.NoteTiptext {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0pt;
	background-color: #e1e1e1;
	font-size: 10pt;
	x-next-class: Body;
	x-next-type: p;
	font-family: "Courier New";
}
A.breadcrumbs {
	font-family: Arial;
	font-size: 10.5pt;
}
A.dropspot {
	font-family: Arial;
	font-size: 10.5pt;
}
A.expandspot {
	font-family: Arial;
	font-size: 10.5pt;
}
span.Documentname {
	font-style: italic;
	font-family: Verdana;
	font-size: 10pt;
}
span.Underline {
	font-family: Verdana;
	font-size: 10pt;
	text-decoration: underline;
}
span.rls-1-Numlist {
	font-family: Verdana;
	font-size: 10pt;
}
span.rls-2-Numlist {
	font-family: Verdana;
	font-size: 10;
}
span.rls-2-Numlist {
	font-size: small;
	font-family: Verdana;
}
rh-list.BulletedMultiList {
	x-lvl-1-pfx-class: rls-1-Style1;
	x-lvl-2-pfx-class: rls-2-BulletedMultiList;
	x-lvl-1-format: "<x>";
	x-lvl-2-format: "<x>";
	x-lvl-2-list-style-position: outside;
	x-lvl-1-list-style-position: outside;
	x-lvl-2-type: squareBullet;
	x-lvl-2-margin: 80px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-tag: p;
	x-lvl-1-type: disc;
	x-level-count: 2;
	x-lvl-1-margin: 50px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-tag: p;
}
span.rls-1-Style1 {
	color: #000000;
	font-family: Verdana;
	font-size: 10pt;
}
span.rls-2-BulletedMultiList {
	color: #333333;
	font-family: Verdana;
	font-size: 10pt;
}
rh-seq.roundBullet {
	x-count: 1;
	x-1: ●;
}
rh-seq.squareBullet {
	x-count: 1;
	x-1: ▪;
}
rh-list.NumberedMultiList {
	x-lvl-1-pfx-class: rls-1-Style1;
	x-lvl-2-pfx-class: rls-2-BulletedMultiList;
	x-lvl-2-list-style-position: outside;
	x-lvl-1-list-style-position: outside;
	x-lvl-1-type: decimal;
	x-lvl-2-type: lower-roman;
	x-lvl-2-format: "<x>.";
	x-lvl-1-format: "<x>.";
	x-lvl-1-margin: 50px;
	x-lvl-1-text-indent: -20px;
	x-lvl-1-p-tag: p;
	x-level-count: 2;
	x-lvl-2-margin: 70px;
	x-lvl-2-text-indent: -20px;
	x-lvl-2-p-tag: p;
}
span.Filename {
	font-family: "Courier New";
	font-size: 10pt;
}
li.Question {
	font-size: 14pt;
	margin-bottom: 14pt;
	list-style: url(bigmark1.gif);
	margin-top: 14pt;
	font-family: Verdana;
	font-weight: bold;
	font-style: normal;
	color: #333333;
}
A:link {
	font-family: Arial;
	color: #006699;
	font-size: 10.5pt;
	text-decoration: none;
}
SPAN.expandtext {
	font-family: Arial;
	font-size: 10.5pt;
}
A.glossterm {
	font-family: Arial;
	font-size: 10.5pt;
}
SPAN.glosstext {
	font-family: Arial;
	font-size: 10.5pt;
}
A.popupspot {
	font-family: Verdana;
	font-size: 10pt;
}
p.Answer {
	margin-top: 0pt;
	font-family: Verdana;
	margin-left: 30pt;
	font-size: 10pt;
}
table.BodyTableNoBorders {
	font-family: "Trebuchet MS";
	margin-top: 5pt;
	margin-bottom: 12pt;
	margin-left: 25px;
	font-size: 10pt;
}
span.UIControl {
	font-weight: bold;
	font-family: Verdana;
	font-size: 10pt;
}
p {
	margin-left: 0pt;
	margin-right: 0pt;
	font-family: Verdana;
	margin-top: 3pt;
	line-height: Normal;
	font-size: 10pt;
	color: #333333;
	x-next-class: Body;
	x-next-type: p;
	margin-bottom: 3pt;
}
span.Bold {
	font-family: Verdana;
	font-weight: bold;
	font-size: 10pt;
}
p.StepNote {
	font-family: Verdana;
	font-size: 10pt;
	margin-left: 65pt;
	margin-top: 7pt;
	x-next-class: Body;
	x-next-type: p;
	margin-bottom: 7pt;
}
li.Note_text {
	margin-top: 0pt;
	margin-bottom: 0pt;
	list-style: inside url(note_icon.png);
	margin-left: 0pt;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #a3a3ad;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #a3a3ad;
	font-family: Verdana;
	font-size: 9pt;
}
li.Tip_text {
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #a3a3ad;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #a3a3ad;
	font-family: Verdana;
	font-size: 9pt;
	list-style: inside url(Tip_Icon.png);
}
li.Caution_text {
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #a3a3ad;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #a3a3ad;
	font-family: Verdana;
	font-size: 9pt;
	list-style: inside url(caution_icon.png);
}
li.Warning_text {
	margin-top: 0pt;
	margin-bottom: 0pt;
	margin-left: 0pt;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-style: Solid;
	border-top-width: 1px;
	border-top-color: #a3a3ad;
	border-bottom-style: Solid;
	border-bottom-width: 1px;
	border-bottom-color: #a3a3ad;
	font-family: Verdana;
	font-size: 9pt;
	list-style: inside url(warning_icon.png);
}
span.rls-1-TaskStep2 {
	font-family: Verdana;
	font-size: 10pt;
}
rh-list.TaskStep {
	x-lvl-2-type: lower-alpha;
	x-lvl-2-format: "<x>&c";
	x-lvl-2-margin: 20px;
	x-lvl-3-type: lower-roman;
	x-lvl-3-format: "<x>&c";
	x-lvl-3-margin: 40px;
	x-lvl-4-type: decimal;
	x-lvl-4-format: "&o<x>&c";
	x-lvl-4-margin: 60px;
	x-lvl-5-format: "&o<x>&c";
	x-lvl-5-margin: 80px;
	x-lvl-6-type: lower-roman;
	x-lvl-6-format: "&o<x>&c";
	x-lvl-6-margin: 100px;
	x-lvl-8-type: lower-alpha;
	x-lvl-8-margin: 140px;
	x-lvl-7-format: "<x>.";
	x-lvl-7-margin: 120px;
	x-lvl-9-type: lower-roman;
	x-lvl-9-margin: 160px;
	x-lvl-1-format: "Step <x>.";
	x-level-count: 9;
	x-lvl-1-margin: 90px;
	x-lvl-1-text-indent: -60px;
	x-lvl-1-p-class: Body;
	x-lvl-1-p-tag: p;
}
H3.SeeAlso {
	font-size: 12pt;
	font-family: Arial;
	x-next-class: Body2;
	x-next-type: p;
	margin-left: 0pt;
	margin-top: 14pt;
	color: #808080;
}
@media only screen and (min-width: 1296px) and (max-width: 99999px){
	p.Proclead {
		font-family: "Century Gothic";
		font-size: 12pt;
		x-next-class: Body;
		x-next-type: p;
		background-color: #cccccc;
		color: #ffffff;
		font-variant: small-caps;
		font-style: normal;
		font-weight: normal;
	}
	}

p.Proc_title {
}
@media only screen and (min-width: 1296px) and (max-width: 99999px){
	p.Proc_title {
		font-family: "Century Gothic";
		font-size: 12pt;
		x-next-class: Body;
		x-next-type: p;
		background-color: #cccccc;
		color: #ffffff;
		font-variant: small-caps;
	}
	}

p.procedure_title {
}
@media only screen and (min-width: 1296px) and (max-width: 99999px){
	p.Body {
		font-family: Verdana;
		font-size: 10pt;
		x-next-class: Body;
		x-next-type: p;
		background-color: Transparent;
		color: #000000;
		font-variant: normal;
	}
	}

p.proc_start {
}
@media only screen and (min-width: 1296px) and (max-width: 99999px){
	H3.SeeAlso {
		text-align: center;
	}
	}

@media only screen and (min-width: 1296px) and (max-width: 99999px){
	table.BodyTableNoBorders {
		text-align: Center;
	}
	}

table.SeeAlsoTable {
	font-family: Arial;
	font-size: 10pt;
	text-align: Center;
	border-left-style: Solid;
	border-left-width: 0.5px;
	border-left-color: #000000;
	border-right-style: Solid;
	border-right-width: 0.5px;
	border-right-color: #000000;
	border-top-style: Solid;
	border-top-width: 0.5px;
	border-top-color: #000000;
	border-bottom-style: Solid;
	border-bottom-width: 0.5px;
	border-bottom-color: #000000;
}
@media only screen and (min-width: 1296px) and (max-width: 99999px){
	table.SeeAlsoTable {
		font-family: Arial;
		font-size: 11pt;
		text-align: Center;
		border-left-style: Solid;
		border-left-width: 0.5px;
		border-left-color: #a3a3ad;
		border-right-style: Solid;
		border-right-width: 0.5px;
		border-right-color: #a3a3ad;
		border-top-style: Solid;
		border-top-width: 0.5px;
		border-top-color: #a3a3ad;
		border-bottom-style: Solid;
		border-bottom-width: 0.5px;
		border-bottom-color: #a3a3ad;
	}
	}

#gloTabButton{display: none !important;}